* {
    box-sizing: border-box;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header {
    background: aquamarine;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 30px;
    height: 30px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav__btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav__btn-login {

}
.nav__btn-create {
    display: none;
}
.filter {
    display: flex;
}
.filter__text {
    display: flex;
    padding: 5px;
}
.filter__text-input {
    align-items: center;
}
.filter__text-btn {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    background-size: contain;
    /*background-image: url("../img/search.svg");*/
    background-repeat: no-repeat;
    background-position: center;
}
.filter_status {
    display: flex;
    padding: 5px;
,
margin-left: 10px;
}
.filter_priority {
    display: flex;
    padding: 5px;
    margin-left: 10px;
}
.cards-container {

}
.cards__no-items {
    margin: 5px;
}

#our_modal.open .overlay_modal,
#our_modal.open .modal_window{
    opacity: 1;
    z-index: 2;
}

.modal_window,
.overlay_modal {
    opacity: 0;
    z-index: -1;
}

.overlay_modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: aliceblue;
}

.modal_window {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    margin: 50px auto;
}

.extra {
    width: 100%;
    border: none;
}